* {
  border-radius: 0 !important;
}

html, body {
  background: #eee;
  height: 100%;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.btn.btn-primary {
  background: #FFB74D;
  border-color: #FF9800;
  color: #212121;
}

#splash {
  background: #212121;
  color: #FF9800;
  display: table;
  font-size: 88px;
  height: 100%;
  position: fixed;
  text-shadow: 4px 4px #000;
  width: 100%;
  z-index: 9;
}

#splash span {
  display: table-cell;
  line-height: 64px;
  text-align: center;
  vertical-align: middle;
}

#splash span i {
  color: #fff;
  font-size: 104px;
}

#splash span small {
  color: #fff;
  font-size: 40px;
}

header {
  background: #212121;
  box-shadow: 0 0 4px 0 #000;
  color: #FF9800;
  height: 46px;
  position: relative;
  z-index: 8;
}

header h1 {
  font-size: 24px;
  line-height: 46px;
  margin: 0;
  text-shadow: 2px 2px #000;
}

header h1 i,
header h1 small {
  color: #fff;
  font-size: 18px;
}

header nav {
  display: block;
  line-height: 46px;
  height: 46px;
  text-align: right;
}

header nav a.btn {
  font-size: 16px;
  height: 46px;
  line-height: 46px;
  padding: 0 12px;
  transition: 0.1s;
  vertical-align: top;
}

header nav a.btn.social-fb {
  background: #3A5795;
  border: 1px solid #132E68;
  color: #fff;
}

header nav a.btn.social-tw {
  background: #0084B4;
  border: 1px solid #004E6C;
  color: #fff;
}

header nav a.btn:hover,
header nav a.btn:focus {
  background: #FF9800;
  color: #fff;
}

header#about {
  background: #f5f5f5;
  border-bottom: none;
  color: #212121;
  height: auto;
  z-index: 7;
}

main {
  background: #fff;
  box-shadow: 0 0 4px 0 #000;
  padding-top: 8px;
  position: relative;
  z-index: 6;
}

main .lead {
  font-size: 16px;
  margin-bottom: 6px;
  text-align: center;
}

.container div.well {
  background: #f5f5f5;
  border-radius: 0;
  margin-top: 15px;
}

.logo {
  color: #212121;
  text-shadow: 2px 2px #bdbdbd;
}

#key {
  text-align: center;
}

#key .btn {
  display: inline-block;
  font-size: 18px;
  margin: 0 4px;
  width: 160px;
}

article.distributor {
  margin-bottom: 30px;
}

article.distributor a {
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  box-shadow: 2px 2px 2px 0 #bdbdbd;
  color: #212121;
  display: block;
  padding: 15px;
  text-decoration: none;
  transition: 0.1s;
}

article.distributor a:hover,
article.distributor a:focus {
  background: #212121;
  color: #FFF;
}

article.distributor .top {
  padding: 0 0 8px;
  margin-bottom: 4px;
}

article.distributor h2 {
  line-height: 36px;
  margin: 0;
}

article.distributor h2 .badge {
  box-shadow: 1px 1px 1px 0 #bdbdbd;
  color: #000;
}

article.distributor h2 .badge.hundreds {
  background: #FFF3E0;
}

article.distributor h2 .badge.thousands {
  background: #FFE0B2;
}

article.distributor h2 img {
  border: 1px solid #bdbdbd;
  background: #f5f5f5;
  box-shadow: 2px 2px 2px 0 #bdbdbd;
  padding: 1px;
  vertical-align: top;
}

article.distributor .operating-systems {
  color: #000;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
}

article.distributor a:hover h2,
article.distributor a:hover .operating-systems,
article.distributor a:hover em,
article.distributor a:focus h2,
article.distributor a:focus .operating-systems,
article.distributor a:focus em {
  color: #FF9800;
}

article.distributor em {
  color: #000;
}

article.distributor .tags {
  margin-bottom: 0;
}

article.distributor .tags span {
  font-size: 12px;
  margin-right: 4px;
}

article.distributor .tags span i {
  color: #F57C00;
  font-size: 10px;
}

footer {
  color: #212121;
  position: relative;
}

footer#suggestions {
  background: #FFCC80;
  box-shadow: 0 0 4px 0 #000;
  z-index: 5;
}

footer#suggestions p {
  font-size: 16px;
}

footer#suggestions a {
  color: #000;
  text-decoration: underline;
}

footer#foot {
  background: #424242;
  color: #e0e0e0;
  padding: 15px 0;
  text-align: center;
  z-index: 4;
}

footer#foot p {
  margin: 0;
}

footer#foot a {
  color: #FFA726;
}

div.async {
  text-align: center;
}

div.async ins {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
  
  #splash {
    font-size: 64px;
  }
  
  #splash span {
    line-height: 48px;
  }
}

@media screen and (max-width: 360px) {
  header h1 {
    font-size: 20px;
  }
  
  #splash {
    font-size: 48px;
  }
  
  #splash span {
    line-height: 40px;
  }
}